#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: BSD-3-Clause
#

menu "nRF70 BM scan sample configuration"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = NR70_SCAN_BM_SAMPLE
module-str = nRF70 BM scan sample
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endmenu